<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'捷出青年|'+${blog.title}"></title>
  <meta name="keywords" content="个人博客模板,博客模板,响应式" />
  <meta name="description" content="个人博客模板，神秘、俏皮。" />
  <link th:href="@{/css/base.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/media.css}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
  <script th:src="@{/js/blog.js}"></script>

<!--[if lt IE 9]>
  <script th:src="@{/js/modernizr.js}"></script>
<![endif]-->

  <!--引入bootstrap-->
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
  <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">

  <link th:href="@{/css/atom-one-dark.css}" rel="stylesheet">
  <script th:src="@{/js/pc_wap_common-93244aa03c.js}"></script>
  <script>hljs.initHighlightingOnLoad();</script>


</head>
<body>
<div class="ibody">

  <header>
    <h1>如影随形</h1>
    <h2 style="font-size: 100%; font-weight: normal;padding: 0">影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">首页</a><a href="/getblogbytype/1">Java</a><a href="/getblogbytype/2">常用框架</a><a href="/getblogbytype/3">数据结构</a><a href="/getblogbytype/4">Jvm</a></nav>
  </header>


  <article style=" word-break: break-all;word-wrap: break-word; ">
    <h2 class="about_h">您现在的位置是：首页><a th:text="${typename}" th:href="'/getblogbytype/'+${blog.typeId}"></a>><a th:text="${blog.title}"></a></h2>
    <div class="index_about">
      <h2 class="c_titile" th:text="${blog.title}"></h2>
      <p class="box_c"><span class="d_time" th:text="'发布时间：'+${blog.date}"></span><span th:text="'浏览（'+${blog.clickhit}+')'"></span><span th:text="'评论（'+${blog.replyhit}+')'"></span></p>
      <div  id="content" class="blogcontent"></div>
      <input id="contenttemp" th:hidden="true" th:value="${blog.content}">
      <input id="blogId" th:hidden="true" th:value="${blog.id}">
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <form role="form" target="iframe">
      <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name" placeholder="请输入你的昵称">
      </div>

      <div class="form-group">
        <label for="comment">评论</label>
        <textarea  class="form-control" placeholder="请留下你的评论" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-default" id="CommentSubmit" onclick="javascript:commitsubmit()">提交</button>
    </form>

      <iframe id="iframe" name="iframe" style="display:none;">阻止页面跳转</iframe>
  </article>

  <aside>
    <div class="rnav">
      <li class="rnav1 "><a href="/getblogbytype/1">Java</a></li>
      <li class="rnav2 "><a href="/getblogbytype/2">常用框架</a></li>
      <li class="rnav3 "><a href="/getblogbytype/3">数据结构</a></li>
      <li class="rnav4 "><a href="/getblogbytype/4">Jvm</a></li>
    </div>
    <div class="ph_news">
      <h2>
        <p>最新评论</p>
      </h2>
      <p th:if="${#lists.isEmpty(comments)}">暂无评论</p>
      <ul class="pl_n" th:each="comment:${comments}">
        <dl>
          <dt><img th:src="@{/images/008.jpg}"> </dt>
          <dt> </dt>
          <dd th:text="${comment.nickname}">
          </dd>
          <dd><a href="/" th:text="${comment.content}"></a></dd>
        </dl>
      </ul>
    </div>

  </aside>

  <script th:src="@{/js/silder.js}"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
<div style="text-align:center;">
  <p>Copyright © 2018 - 2019</p>
  <p>粤ICP备18099886号-1</p>
</div>
</body>


</html>
