<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>黑色个人博客HTML5模板</title>
  <meta name="keywords" content="个人博客模板,博客模板,响应式" />
  <meta name="description" content="个人博客模板，神秘、俏皮。" />

  <link th:href="@{/css/base.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <link th:href="@{/css/media.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <script th:src="@{/js/jquery-1.11.1.min.js}"></script>

  <!--[if lt IE 9]>
  <script th:src="@{/js/modernizr.js}"></script>
  <![endif]-->

  <!--引入bootstrap-->
  <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
  <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">


</head>
<body>
<div class="ibody">
  <header>
    <h1>如影随形</h1>
    <h2 style="font-size: 100%; font-weight: normal;padding: 0">影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="/"></a></div>
    <nav id="topnav"><a href="/">首页</a><a href="/getblogbytype/1">Java</a><a href="/getblogbytype/2">常用框架</a><a href="/getblogbytype/3">数据结构</a><a href="/getblogbytype/4">Jvm</a></nav>
  </header>


  <article>
    <div class="banner">
      <ul class="texts">
        <p>如果你掉进了黑暗里，你能做的，不过是静心等待，直到你的双眼适应黑暗。</p>
        <p>活着就意味必须要做点什么，请好好努力。 </p>
      </ul>
    </div>
    <div class="bloglist">
      <h2>
        <p th:if="${typename}==null"><span>全部</span>文章</p>
        <p th:text="${typename}"><span>全部</span>文章</p>
      </h2>
      <h2 th:if="${#lists.isEmpty(articles)}">该分类下暂无文章</h2>
      <div th:each="artitle:${articles}">
        <div class="blogs">
          <h3><a th:href="@{'/blogdetail/getblog/'+${artitle.id}}" th:text="${artitle.title}"></a></h3>
          <figure><img th:src="@{/images/01.jpg}" ></figure>
          <ul>
            <p th:text="${artitle.summary}"></p>
            <a th:href="@{'/blogdetail/getblog/'+${artitle.id}}"  class="readmore">阅读全文&gt;&gt;</a>
          </ul>
          <p class="autor"><span>分类：【<a href="#" th:text="${artitle.typename}"></a>】</span></p>
          <div class="dateview" th:text="${artitle.date}"></div>
        </div>
      </div>
    </div>
  </article>

  <aside>
    <div class="avatar"><a href="/"><span>关于我</span></a></div>
    <div class="topspaceinfo">
      <h1>执子之手，与子偕老</h1>
      <p>于千万人之中，我遇见了我所遇见的人....</p>
    </div>
    <div class="about_c">
      <p>网名：宇宙大爆炸</p>
      <p>职业：java程序员 </p>
      <p>地址：广州</p>
      <p>邮箱：932964177@qq.com</p>
    </div>
    <div class="tj_news">
      <h2>
        <p class="tj_t1">文章分类</p>
      </h2>
      <ul th:each="blogtype:${blogtypes}">
        <li><a th:href="'/getblogbytype/'+${blogtype.id}" th:text="${blogtype.typename}"></a></li>
      </ul>
    </div>
    <div class="links">
      <h2>
        <p>其他链接</p>
      </h2>
      <ul>
        <li><a href="https://blog.csdn.net/qiuwenjie123">CSDN</a></li>
        <li><a href="https://github.com/qiuwenjie123">Github</a></li>
      </ul>
    </div>
  </aside>

  <div style="width: 73%" th:if="${#lists.size(articles)}>0">
    <ul class="pagination">
      <li th:class="${currentpage==1}?'disabled':'btn'">
        <a th:attr="href='?page=1'" aria-label="Previous" th:class="${currentpage==1}?'btn disabled':'btn'">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li th:class="${currentpage==1}?'disabled':'btn'">
        <a th:attr="href='?page='+${currentpage-1}" th:class="${currentpage==1}?'btn disabled':'btn'">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>

      <li th:if="${startpage<=allpages}"><a th:attr="href='?page='+${startpage}" th:text="${startpage}" class="btn"></a></li>
      <li th:if="${startpage+1<=allpages}"><a th:attr="href='?page='+${startpage+1}" th:text="${startpage+1}" class="btn"></a></li>
      <li th:if="${startpage+2<=allpages}"><a th:attr="href='?page='+${startpage+2}" th:text="${startpage+2}" class="btn"></a></li>
      <li th:if="${startpage+3<=allpages}"><a th:attr="href='?page='+${startpage+3}" th:text="${startpage+3}" class="btn"></a></li>
      <li th:if="${startpage+4<=allpages}"><a th:attr="href='?page='+${startpage+4}" th:text="${startpage+4}" class="btn"></a></li>

      <li th:class="${currentpage==allpages}?'disabled':''">
        <a th:attr="href='?page='+${currentpage+1}" th:class="${currentpage==allpages}?'btn disabled':'btn'">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li th:class="${currentpage==allpages}?'disabled':''">
        <a th:attr="href='?page='+${allpages}" aria-label="Next" th:class="${currentpage==allpages}?'btn disabled':'btn'">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>

  <script th:src="@{/js/silder.js}"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>


<div style="text-align:center;">
  <p>Copyright © 2018 - 2019</p>
  <p>蜀ICP备11002373号-1</p>
</div>

</body>

<script>
</script>

</html>
