<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/highlight/styles/github.css}">

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/highlight/highlight.pack.js}">//高亮插件</script>
    <script th:src="@{/wangEditor-3.1.1/release/wangEditor.js}">//引入wangeditor</script>
</head>
<body>
<form class="layui-form" id="blogform"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block" style="width: 150px">
            <input type="text" name="blogtitle" id="blogtitle" placeholder="请输入标题" autocomplete="off" class="layui-input" lay-verify="required"
                    th:value="${blog}==null?'':${blog.title}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">博客分类</label>
        <div class="layui-input-block" style="width: 150px">
            <select name="interest" id="blogtype">
                <div th:each="blogtype : ${blogtypes}">
                    <option  th:value="${blogtype.id}" th:text="${blogtype.typename}"
                             th:selected="${blog}==null ?false:(${blog.typeId}==${blogtype.id}?true:false)"></option>
                </div>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">关键字</label>
        <div class="layui-input-block" style="width: 300px">
            <input type="text" name="keyWord" id="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input"
                   lay-verify="required" th:value="${blog}==null?'':${blog.keyword}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" text-align="center" >博客内容</label>
    </div>

    <div id="editor">
    </div>


    <input type="text" th:value="${blog}==null?'':${blog.id}" id="blogId" th:hidden="true">
    <input type="text" th:value="${blog}==null?'':${blog.content}" id="blogContent" th:hidden="true">



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit type="button" lay-filter="blogsumit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

</body>

<script>
    /*     //创建一个富文本编辑器
    let editor;
    ClassicEditor.create(document.querySelector('#editor'),{
         language: "zh-cn",
         ckfinder: {
             uploadUrl: '/blog/imageupload'
         }
     }).then(neweditor=>{
         editor=neweditor;
         editor.setData($("#blogContent").val());
         console.log(neweditor);
     }).catch( error => {
         console.error( error );
     });
    */
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create();
    var blogContent=$("#blogContent").val();
    editor.txt.html(blogContent);



    layui.use('form', function(){
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        //绑定按键
        form.on('submit(blogsumit)',function(){
            var tblog={};
            tblog["title"]=$("#blogtitle").val();
            tblog["typeId"]=$("#blogtype option:selected").val();
            tblog["keyword"]=$("#keyword").val();
            tblog["content"]=editor.txt.html();
            tblog["text"]=editor.txt.text();
            tblog["id"]=$("#blogId").val();

            $.ajax({
                url: "/admin/blog/addBlog",
                data:JSON.stringify(tblog),
                type:'post',
                async:false,
                contentType:'application/json;charset=UTF-8',
                dataType:'json',
                success: function (data) {
                    alert(data.msg);
                },
                error:function () {
                    alert("联系管理员");
                }
            });
            return false;
        })
    });



</script>

</html>